saferconnect_services.yml
log/*
tmp/*
.DS_Store
./**/.DS_Store
public/cache
public/cache/**
public/w/cache
public/w/cache/**
public/w/test
public/w/test/**
coverage/**
*.rbc
doc/app
doc/app/*
TAGS
coverage.data
test/coverage/
\#*
doc/**
vendor/plugins/blackbook
vendor/plugins/blackbook/**
.rdebug_hist
./**/.#*
web2.esproj/*
.config*
.irb_history
*.tmproj
public/w/index.html
public/w/javascripts/animoto-all.js
public/w/stylesheets/animoto-all.css
public/w/assets
*.swp
./**/.swp
*~
oink-enabled
.bundle
public/w/google*.html
sproutcore/tmp
_assets
_assets/*
